{# templates/stagiaire/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le Stagiaire{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Modifier le Stagiaire</h1>
        <div class="bg-white shadow-md rounded-lg overflow-hidden p-6">
            {{ form_start(form) }}
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                <div>
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
                <div>
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
                <div>
                    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
                <div>
                    {{ form_label(form.login, 'Login', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.login, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
                <div>
                    {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
                <div>
                    {{ form_label(form.admin_id, 'Admin ID', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.admin_id, {'attr': {'class': 'mt-1 block w-full shadow-sm sm:text-lg border-black rounded-md'}}) }}
                </div>
            </div>
            <div class="mt-6 flex justify-end space-x-3">
                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
                <a href="{{ path('app_stagiaire_index') }}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Retour à la liste</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
