{# templates/stagiaire/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Stagiaire Index{% endblock %}

{% block body %}


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="icon-show" viewBox="0 0 24 24">
            <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/>
        </symbol>
        <symbol id="icon-edit" viewBox="0 0 24 24">
            <path d="M7.127 22.562l-7.127 1.438 1.438-7.128 5.689 5.69zm1.414-1.414l11.228-11.225-5.69-5.692-11.227 11.227 5.689 5.69zm9.768-21.148l-2.816 2.817 5.691 5.691 2.816-2.819-5.691-5.689z"/>
        </symbol>
        <symbol id="icon-delete" viewBox="0 0 24 24">
            <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
        </symbol>
        <symbol id="icon-reset" viewBox="0 0 24 24">
            <path d="M13.5 2c-5.621 0-10.211 4.443-10.475 10h-3.025l5 6.625 5-6.625h-2.975c.257-3.351 3.06-6 6.475-6 3.584 0 6.5 2.916 6.5 6.5s-2.916 6.5-6.5 6.5c-1.863 0-3.542-.793-4.728-2.053l-2.427 3.216c1.877 1.754 4.389 2.837 7.155 2.837 5.79 0 10.5-4.71 10.5-10.5s-4.71-10.5-10.5-10.5z"/>
        </symbol>
    </svg>


    <h1 class="text-2xl font-bold mb-4">Stagiaires</h1>

    <a href="{{ path('app_stagiaire_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">Create new</a>

    {# Search Form #}
    <form action="{{ path('app_stagiaire_index') }}" method="get" class="mb-4">
        <div class="flex justify-end">
            <input type="text" name="q" placeholder="Search..." class="border rounded py-2 px-3 text-gray-700">
            <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2">Search</button>
        </div>
        <p class="text-gray-600 text-sm mt-2 text-right">You can search by ID, Nom, Prenom, Email, or Login.</p>
    </form>

    {# Stagiaire Table with checkboxes #}
    <form id="stagiaire-form" action="{{ path('app_stagiaire_reset_password') }}" method="post">
        {# Stagiaire Table #}
        <table class="min-w-full bg-white shadow-md rounded my-6">
            <thead>
            <tr class="bg-gray-800 text-white uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">ID</th>
                <th class="py-3 px-6 text-left">Nom</th>
                <th class="py-3 px-6 text-left">Prenom</th>
                <th class="py-3 px-6 text-left">Email</th>
                <th class="py-3 px-6 text-left">Login</th>
                <th class="py-3 px-6 text-center">Show</th>
                <th class="py-3 px-6 text-center">Edit</th>
                <th class="py-3 px-6 text-center">Delete</th>
                <th class="py-3 px-6 text-center">Reset Password</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
            {% for stagiaire in stagiaires %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ stagiaire.id }}</td>
                    <td class="py-3 px-6 text-left">{{ stagiaire.nom }}</td>
                    <td class="py-3 px-6 text-left">{{ stagiaire.prenom }}</td>
                    <td class="py-3 px-6 text-left">{{ stagiaire.email }}</td>
                    <td class="py-3 px-6 text-left">{{ stagiaire.login }}</td>
                    <td class="py-3 px-6 text-center">
                        <a href="{{ path('app_stagiaire_show', {'id': stagiaire.id}) }}" class="inline-block p-1" title="Show">
                            <svg class="w-6 h-6 text-green-500 hover:text-green-700"><use xlink:href="#icon-show"></use></svg>
                        </a>
                    </td>
                    <td class="py-3 px-6 text-center">
                        <a href="{{ path('app_stagiaire_edit', {'id': stagiaire.id}) }}" class="inline-block p-1" title="Edit">
                            <svg class="w-6 h-6 text-yellow-500 hover:text-yellow-700"><use xlink:href="#icon-edit"></use></svg>
                        </a>
                    </td>
                    <td class="py-3 px-6 text-center">
                        <form method="post" action="{{ path('app_stagiaire_delete', {'id': stagiaire.id}) }}" class="inline-block">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
                            <button class="p-1" onclick="return confirm('Are you sure?');" title="Delete">
                                <svg class="w-6 h-6 text-red-500 hover:text-red-700"><use xlink:href="#icon-delete"></use></svg>
                            </button>
                        </form>
                    </td>
                    <td class="py-3 px-6 text-center">
                        <form action="{{ path('app_stagiaire_reset_password', {'id': stagiaire.id}) }}" method="POST" class="inline-block">
                            <button type="submit" class="p-1" title="Reset Password"
                                    onclick="return confirm('Are you sure that you want to reset the password?\n\nNB: The new Password is \'123456789\'');">
                                <svg class="w-6 h-6 text-blue-500 hover:text-blue-700"><use xlink:href="#icon-reset"></use></svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="py-3 px-6 text-center">No stagiaires found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

{% endblock %}
